 .text-center {
  width: 50%;
  margin: auto;
}

.title{
  color: #C49102;
  font-size: 25px;

} 

.movieload{
  font-size: 20px;
}

.tile {
  background: #607d8b0a;
  border-radius: 10px;
  margin: auto;
  width: 50%;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 1rem;
}

.tile:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.move-left {
  width: 48%;
  margin: auto;
  display: inline-block;
}

.move-right {
  padding-left: 45%;
  margin: auto;
  display: inline-block;
}

.Characters {
  padding-left: 10px;
}

.MUsic {
  padding-left: 8px;
}

.remove-underline:hover {
  text-decoration: none;
}

.no-bullets {
  list-style-type: none;
} */

.imdb-menu {
  background-color: white !important;
  
}

.imdb-menu:hover {
  background-color: turquoise !important;
  color: black !important;
  border-radius: 6px;
}

.imdb-shows {
  background-color: white !important;
}

.imdb-links:hover {
  background-color: thistle !important;
  color: green !important;
}

/* .text-center {
  background-color: rgb(245 197 24);
} */
/* bg of .jumbotron #4a4f52 */
.jumbotron {
  width: 65%;
  margin: auto;
  background-color: #4a4f52 !important;
}
.jumbotron:hover {
  background-color: rgb(85 90 92);
  box-shadow: 2px 2px 6px 0px #888888;
}
.rating{
  position: absolute;
  top: 15%;
  right: 37%;
}
.star {
  position: absolute;
  top: 15%;
  right: 35%;
  transform: translate(-50%, -50%);
  display: flex;
  color: orange;
  font-size: 25px;
}

.ticketlink{
  background-color: #5dc01b;
  border-radius: 4px;
  border: none;
}
.ll{
  color: black;
}
.ticketlink:hover{
  background-color: blue;
}
.ll:hover{
  color: whitesmoke;
  text-decoration: none;
  
  border-radius: 4px;
}


.rate {
  position: absolute;
  right: 32%;
  top: 13.5%;
  color: white;
  font-size: 25px;
}

.imdb {
  position: absolute;
  right: 32%;
  top: 10%;
  color: white;
}

.hell:hover {
  background-color: red !important;
  cursor: pointer;
}

.rating label {
  display: block;
  cursor: pointer;
  width: 50px;
  background-color: #ccc;
}


/* {
background: var(--ipt-baseAlt-shade1-bg,rgb(31,31,31));
    font-family: var(--ipt-font-family);
    font-size: var(--ipt-type-subtitle-size,1rem);
    font-weight: var(--ipt-type-subtitle-weight,600);
    letter-spacing: var(--ipt-type-subtitle-letterSpacing,0.00937em);
    line-height: var(--ipt-type-subtitle-lineHeight,1.25rem);
    text-transform: var(--ipt-type-subtitle-textTransform,none);
    margin-bottom: 0.25rem;
} */

 .rating label::before
{
content:  "\f006";
font-family: "FontAwesome";
position: relative;
font-size: 50px;
color: orange;
}

.rating label::after
{
content:  "\f006";
font-family: "FontAwesome";
position: absolute;
font-size: 50px;
color: orange;
top:0;
opacity: 1;
transition: 0.5s;

} */

.random {
  height: 45px;
  background-color: #464647;
  padding: 12px;
  margin: auto;
  width: 903px !important;
  color: white;

  
}


.alignment{
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: large;
  }

  .trailer{
    border-radius: 50%;
  
  }

  .Description{
      font-size: 30px;
      font-family: "Lucida Console", "Courier New", monospace;
      color:#FF00FF;

  }

  .description{
    font-style: italic;
    word-spacing: 6 px;
  }

  .castandcrew{
    font-size: 28px;
    font-family: "Lucida Console", "Courier New", monospace;
    color:#FF00FF;

  }

  .moviedetails{
    font-size: 20px;

  }

  .changecolor{
    color:#FFDEAD;
  }

  .nolink{
    color:#FFDEAD;
    font-size: smaller;
    
    }

    .nolink:hover{
      text-decoration: none;
      color: #FFDEAD;
     }

     .moviescenes{
      font-size: 26px;
      font-family: "Lucida Console", "Courier New", monospace;
      color:#FF00FF;
     }

       .complete{
       /* width: 100%;  */
    border-radius: 12px;
     }  

     .scenes{
       font-size: 25px;
     }
    .movie-right{
    /* margin-right:10px; */
    margin: auto;
    display: inline-block;
  }  
/* .scene-link{
  color: white;
} */


.back{
 background-color:#31372b;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.youtube {
  color: #eb3223;
}

a.youtube:hover{
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: white;
}

a.social:hover {
  transform: translateY(-2px);
}

.foot{
  margin: 0 2rem;
  transition: transform 250ms;
  display: inline-block;
  color: white;
}

.foot:hover{
  color: white;
}

.seats{
  border: solid 1px;
  height: 25px;
  width: 25px;
  margin-left: 69px;
  padding-left: 8px;
  font-size: 17px;
  background-color: aquamarine;
  color: blueviolet;
  
}

.seatsnum{
  margin-left: 120px;
}

.moveseat{
  margin:8px;
  height: 30px;
  width: 30px;
}
.seatsnum1{
  margin-left: 110px;

}

.seatsnum2{
  margin-left: 110px;

}

.moveseat:hover{
  background-color: green;
  color: whitesmoke;
}

.moveseat{
   color: green;
   border-radius: 6px;
}

.screencover{
  display: block;
  margin: auto;
}

.screenlook{
 text-align: center;
}

.footer{
 height:60px;
 background-color: whitesmoke;
 box-shadow:10px 10px 5px #888,;
}

.day{
  background-color: #d90166;
  border-radius: 6px;
  color: #ccc;
  margin: 6px;
  border: none;
  height: 35px;
  width: 50px;
}
  
.quote{
  display:block;
  margin:auto;
  width:10%;
  margin-top: 60px;
  border: 1px solid;
  background: #607d8b0a;
  border-radius: 80px;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 20px;
  color: #4968ad;
}

.timings{
  display:block;
  margin:auto;
  margin-top: 60px;
  border: 1px solid;
  background: white;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 18px;
}

.myshowtiming{
  margin: 8px; 
  border-radius: 8px;
  background-color:#5dc01b;
  color: white;
  border: none;
}

.terms{
  font-size: large;
  color: #d90166;
  text-align: center;
}



.conditions{
  font-size: 16px;
}

.pay{
  display: inline-block;
  margin: auto;
  margin-left: 30px;
  height: 30px;
  margin-top: 0px;
  color:white;
}

.payable{
  display: block;
  margin: auto;
  border: solid 1px tomato;
  border-radius: 12px;
  width: 30%;
  background-color: #FF00FF;
}
  .ticket{
    background-color: #5dc01b;
    color: aliceblue;
    border-radius: 8px;
    border: none;
    margin-left: 150px;
  }

  .ticket:hover{
    background-color: green;
    border: none;
  }
/* .text-white{
   text-align: center; 
} */

.food{
  text-align: center;

}

.summary{
  font-size: large;
}

.paywatch{
  font-size: large;
}